@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Inter", serif;
    background-color: black;
    color: white;
    width: 100vw;
    overflow-x: hidden;
}

.alert{
    position: fixed;
    top: 20px;
    right: -100%;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: black;
    border: 1px white solid;
    transition: 0.5s;
}
.alert p{
    font-size: 20px;
    z-index: 4;
}
.navbar{
    height: 86px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 70px;
    position: absolute;
    width: 90vw;
    top: 0px;
    background-color: #ffffff00;
}
.navbar img{
    width: auto;
    height: 86px;
    margin-left: -5vh;
    background-color: #ffffff00;
}
.navbar_center_mob{
    display: none;
}
.navbar_center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
    background-color: #ffffff00;
}
.navbar_center li{
    text-decoration: none;
    list-style: none;
    font-weight: 500;
    background-color: #ffffff00;

}
.navbar_center li a{
    color: white;
    text-decoration: none;
    background-color: #00000000;
}

.navbar a{
    color: white;
    text-decoration: none;
    background-color: transparent;
}
.nav_cross{
    display: none;
}
.nav_ham{
    display: none;
}


.hero_top{
    margin: 0px 58px;
    /* margin-top: 78px; */
    padding-top: 150px;
}
.hero_top_main{
    font-size: 48px;
    font-weight: 500;
    color: white;
}
.hero_top_sub{
    font-size: 24px;
    font-weight: 300;
    margin-top: 24px;
}
.video-container{
    width: 481px;
    height: 291px;
    overflow: hidden;
    background-color: #999999;
}
.video-container video{
    height: 881px;
    margin-top: -280px;
}
.hero_bottom{
    /* background-color: red; */
    padding: 0px 58px;
}
.hero_bottom_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 111px;
    padding-left: 350px;
    padding-right: 350px;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap: 94px;
    /* background-color: blue; */
}

.hero_bottom_container::-webkit-scrollbar {
    display: none; 
}
.hero_bottom_container::-webkit-scrollbar {
    display: none; 
}

.hero_b_b_main{
    font-size: 22px;
    font-weight: 500;
    margin-top: 28px;
}
.hero_b_b_sub{
    font-size: 12px;
    font-weight: 300;
    margin-top: 4px;
}

.toggler_btn_container{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 30px 0px;
}
.toggle_btn{
    background-color: #00000000;
    border: none;
}
.toggle_btn i{
    color: #999999;
    font-size: 24px;
    transition: 0.2s;
}
.toggle_btn i:hover{
    color: white;
}

.toggle_btn_dot{
    background-color:#999999;
}
.toggle_btn_dot:hover{
    background-color: white;
}
.tes_top{
    margin: 0px 58px;
    margin-top: 97px;
}
.tes_top_main{
    font-size: 58px;
    font-weight: 500;
}
.tes_top_sub{
    font-size: 24px;
    font-weight: 300;
    margin-top: 36px;
    margin-bottom:20px ;
}



.container {
    overflow: scroll;
    margin-top: 57px;
    padding-left: 58px;
    padding-right: 58px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 600px;
  }
  
.scroll-container{
    display: flex;
    overflow-x: scroll;
    width: fit-content;
    gap: 13px;
    padding-right: 500px;
    padding-left: 500px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-height: 550px;
    overflow: hidden;
}
.container::-webkit-scrollbar {
    display: none; 
}
.scroll-container::-webkit-scrollbar {
    display: none; 
}
.reel_container img{
    width: 300px;
    height: 550px;
    border-radius:24px ;
    position: relative;
    top: 0px;
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}
.reel_container video{
    width: 300px;
    height: auto;
    position: relative;
    transition: 0.3s;
    display: none;
    visibility: none;
    opacity: 0;
    border-radius: 20px;
}
.reel_loader{
    position: relative;
    height: 550px;
    top: 0px;
    width: 100%;
    background-color: #212121;
    border-radius: 20px;
    display: none;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.frame{
    /* background-color: red; */
    padding: 0px 58px;
    overflow-x: scroll;
    margin-top: 72px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.frame_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 170px;
    padding-right: 250px;
    overflow: scroll;
    gap: 32px;
    width: fit-content;
    /* background-color: red; */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.frame::-webkit-scrollbar {
    display: none; 
}
.frame::-webkit-scrollbar {
    display: none; 
}
.frame_box{
    background-color: red;
    width: 1000px;
    height: 100px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 162px;
}
footer img{
    width: 200px;
    height: 92px;
}
.foot_quote{
    margin-top:21px ;
    margin-bottom: 30px;
    max-width: 60%;
    text-align: center;
}
