@media screen and (max-width:480px){
    body{
        width: 100%;
    }
    .navbar{
        height: 76px;
        width: 100vw;
        margin: 0px 0px;
    }
    .navbar img{
        height: 47px;
        margin-left: 0vh;
    }
    .navbar_center_mob{
        display: flex;
        flex-direction:column ;
        position: fixed;
        background-color: black;
        /* height: 100vh; */
        padding-top: 150px;
        padding-bottom: 1000px;
        padding-right: 80px;
        padding-left: 80px;
        top: 0px;
        right: 0px;
        z-index: 1;
        transition: 0.3s;
        /* display: none; */
    }
    .navbar_center_mob li{
        text-decoration: none;
        list-style: none;
        font-weight: 500;
        background-color: #ffffff00;
        margin-top: 20px;
        text-align: right;
    }
    .navbar_center_mob li a{
        color: white;
        text-decoration: none;
        background-color: #00000000;
    }
    .navbar ul li a{
        display: none;
    }
    .nav_con{
        display: none;
    }
    .nav_ham{
       display: flex;
       background-color: #000000;
       border: 0px black solid;
       margin-right: 25px;
    }
    .nav_cross{
        display: flex;
        width: 100px;
        height: auto;
        position: fixed;
        z-index: 5;
        top: 50px;
        right: 10px;
        background-color: #00000000;
        border: 0px white solid;
        transition: 0.3s;
    }
    .nav_cross img{
        width: 50px;
        height: auto;
        transform: rotate(180deg);
        /* display: none; */
        /* addded line above */
    }
    .nav_ham img{
       width: auto;
       height: 32px;
    }
    .hero_top{
        margin: 0px 12px;
        padding-top: 100px;
    }
    .hero_top_main{
        font-size: 22px;
    }
    .hero_top_sub{
        font-size: 12px;
        margin-top: 24px;
        max-width: 80vw;
    }
    .video-container{
        width: 377px;
        height: 282px;
        overflow: hidden;
    }
    .video-container video{
        margin-left: -65px;
    }
    .hero_bottom{
        padding: 0px 12px;
        overflow-x: hidden;
    }
    .hero_bottom_container{
        margin-top: 16px;
        padding-left: 400px;
        padding-right: 10px;
        gap: 44px;
    }
    .hero_b_b_main{
        font-size: 18px;
    }
    .hero_b_b_sub{
        font-size: 12px;
    }
    
    .tes_top{
        margin: 0px 12px;
        margin-top: 50px;
    }
    .tes_top_main{
        font-size: 22px;
    }
    .tes_top_sub{
        font-size: 12px;
        margin-top: 11px;
    }
    .container {
        padding-left: 12px;
        padding-right: 12px;
      } 
    .scroll-container{
        padding-right: 0px;
        padding-left: 0px;
    }
    

    .frame{
        /* background-color: red; */
        padding: 0px 12px;
        margin-top: 40px;
    }
    .frame_container{
        padding-left: 0px;
        padding-right: 10px;
        gap: 20px;
    }

    .frame_box{
        width: fit-content;
        height: auto;
        display: flex;
        gap: 10px;
        overflow: hidden;

    }
    .frame_box_s_1{
        display: none;
    }
    .frame_box_s_2{
        max-width: 374px;
        max-height: 374px;
        overflow: hidden;
    }
    .frame_box_s_2 img{
        max-width: 374px;
        max-height: 374px;
    }
    .frame_box_s_3{
        display: none;
    }

    .toggler_btn_container_3{
        max-width: 90vw;
        overflow: scroll;
        margin-left: 5vw;
        gap: 5px;
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 82px;
    }
    footer img{
        width: 200px;
        height: 92px;
        margin-left: -20px;
    }
    .foot_quote{
        margin-top:21px ;
        margin-bottom: 30px;
        max-width: 90%;
        text-align: center;
        font-size: 14px;
        font-family: 200;
    }
    .cpy_write{
        font-size: 12px;
        font-weight: 200;
    }
}
    
