@media screen and (max-width:480px){
    body{
        width: 100%;
    }
    .navbar{
        height: 76px;
        width: 100vw;
        margin: 0px 0px;
    }
    .navbar img{
        height: 47px;
        margin-left: 0vh;
    }
    .navbar_center_mob{
        display: flex;
        flex-direction:column ;
        position: fixed;
        background-color: black;
        /* height: 100vh; */
        padding-top: 150px;
        padding-bottom: 1000px;
        padding-right: 80px;
        padding-left: 80px;
        top: 0px;
        right: 0px;
        z-index: 1;
        transition: 0.3s;
        /* display: none; */
    }
    .navbar_center_mob li{
        text-decoration: none;
        list-style: none;
        font-weight: 500;
        background-color: #ffffff00;
        margin-top: 20px;
        text-align: right;
    }
    .navbar_center_mob li a{
        color: white;
        text-decoration: none;
        background-color: #00000000;
    }
    .navbar a{
        display: none;
    }
    .nav_con{
        display: none;
    }
    .nav_ham{
       display: flex;
       background-color: #000000;
       border: 0px black solid;
       margin-right: 25px;
    }
    .nav_cross{
        display: flex;
        width: 100px;
        height: auto;
        position: fixed;
        z-index: 5;
        top: 50px;
        right: 10px;
        background-color: #00000000;
        border: 0px white solid;
        transition: 0.3s;
    }
    .nav_cross img{
        width: 50px;
        height: auto;
        transform: rotate(180deg);
        /* display: none; */
        /* addded line above */
    }
    .nav_ham img{
       width: auto;
       height: 32px;
    }

    .hero_top{
        margin: 0px 12px;
        padding-top: 150px;
    }
    .hero_top_main{
        font-size: 22px;
    }
    .hero_top_sub{
        font-size: 12px;
        margin-top: 24px;
        max-width: 80vw;
    }
    .hero_bottom{
        width: fit-content;
        display: flex;
        flex-direction: row;
        gap: 73px;
        overflow-x: scroll;
        max-width: 90vw;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .hero_bottom::-webkit-scrollbar {
        display: none; 
    }
    .hero_b_col{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: fit-content;
        gap: 73px;
    }
    .hero_b_col:nth-child(1){
        padding-left: 7vw;
    }
    .hero_b_col:nth-child(2){
        width: fit-content;
        padding-right: 40px;
    }
    
    .mem_list{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        margin-top: 24px;
    }
    .mem_list img{
        width: 48px;
        height: 48px;
        border-radius: 48px;
        background-color: white;
    }
    .mem_list button{
        background-color: #00000000;
        border: none;
        outline: none;
    }
    .mem_list li{
        text-decoration: none;
        list-style-type: none;
    }
    .vision{
        margin-top: 90px;
    }
    .vis_head{
        font-size: 16px;
    }
    .vis_sub{
        font-size: 20px;
    }
    
    .team{
        margin-top: 90px;
    }
    .team_head{
        font-size: 22px;
        font-weight: 400;
        font-family: "Instrument Serif", serif;
        font-style: italic;
    }
    .team_sub{
        font-size: 12px;
        font-weight: 400;
        margin-top: 22px;
    }
    
    
    .team_box{
        height: 116px;
        padding: 16px;
        width: 88vw;
    }

    .team_b_right{
        height: 100%;
    }
    .team_b_l_top{
        text-align: left;
    }




    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 42px;
    }
    footer img{
        width: 200px;
        height: 92px;
        margin-left: -20px;
    }
    .foot_quote{
        margin-top:21px ;
        margin-bottom: 30px;
        max-width: 90%;
        text-align: center;
        font-size: 14px;
        font-family: 200;
    }
    .cpy_write{
        font-size: 12px;
        font-weight: 200;
    }
}
    
