@media screen and (max-width:480px){
body{
    width: 100%;
    overflow-x: hidden;
}
.navbar{
    height: 76px;
    width: 100vw;
}
.navbar img{
    height: 47px;
    margin-left: 1vh;
}
.navbar_center_mob{
    display: flex;
    flex-direction:column ;
    position: fixed;
    background-color: black;
    /* height: 100vh; */
    padding-top: 150px;
    padding-bottom: 1000px;
    padding-right: 80px;
    padding-left: 80px;
    top: 0px;
    right: 0px;
    z-index: 1;
    transition: 0.3s;
}
.navbar_center_mob li{
    text-decoration: none;
    list-style: none;
    font-weight: 500;
    background-color: #ffffff00;
    margin-top: 20px;
    text-align: right;
}
.navbar_center_mob li a{
    color: white;
    text-decoration: none;
    background-color: #00000000;
}


.navbar ul li a{
    display: none;
}
.nav_con{
    display: none;
}
.nav_ham{
   display: flex;
   background-color: #000000;
   border: 0px black solid;
   margin-right: 25px;
}
.nav_cross{
    display: flex;
    width: 100px;
    height: auto;
    position: fixed;
    z-index: 5;
    top: 50px;
    right: 10px;
    background-color: #00000000;
    border: 0px white solid;
    transition: 0.3s;
}
.nav_cross img{
    width: 50px;
    height: auto;
    transform: rotate(180deg);
}
.nav_ham img{
   width: auto;
   height: 32px;
}

.video-container{
    top: 46px;
    width: 100vw;
    height: 256px;
}

.hero{
    height: 36vh;
    width: 100vw;
    overflow-x: hidden;
}
.hero_main{
    font-size: 24px;
    font-weight: 500;
    background-color: #00000000;
}
.hero_sub{
    font-size: 12px;
    font-weight: 200;
    background-color: #00000000;
}
.bg{
    width: 100vw;
    height: 100vh;
    position:absolute;
    top: 0px;
    z-index: -1;
}

.highlight{
    display: none;
}
.hg_mob{
    display: flex;
    flex-direction: column;
    margin: 12px 12px;
    gap: 6px;
}
.hg_main{
    font-size: 22px;
    margin-top: 30px;
}
.hg_sub{
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 20px;
}
.hg_mob img{
    border-radius: 8px;
}
.hg_mob_sec_1{
    width: auto;
    height: 300px;
    object-fit: cover;
}
.hg_mob_sec_2{
    display: flex;
    gap: 6px;
    margin-bottom: -2.5vh;
}
.hg_mob_sec_2_sec_1{
    width: 50%;
}
.hg_mob_sec_2_sec_1 img{
    width: 100%;
    height: auto;
}
.hg_mob_sec_2_sec_2{
    width: 50%;
}
.hg_mob_sec_2_sec_2 img{
    width: 100%;
    height: 93%;
}
.ser{
    margin-top: 0px;
    margin-left: 12px;
    margin-right: 12px;
}
.ser_head_main{
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}
.ser_head{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.ser_head_sub{
    font-size: 12px;
    font-weight: 200;
    text-align: left;
    max-width: 100%;
}
.ser_img{
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-top: 13px;
}
.ser_img img{
    width: 378px;
    height: auto;
    background-color: white;
    border-radius: 20px;
}
.ser_img_container{
    overflow: hidden;
    border-radius:15px ;
    background-size: cover;
    height: 192px;
    max-width: 378px;
}
.ser_img_container p{
    font-size: 26px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.452);
    padding-top: 117px;
    padding-left: 9px;
    padding-bottom: 10px;
}
.ser_img_container_1{
    align-self: center;
    justify-self: center;
    display: flex;
}
.ser_img_container_2{
    align-self: center;
    justify-self: center;
    display: flex;
}
.tes_top{
    margin: 12px 12px;
    margin-top: 47px;
}
.tes_top_main{
    font-size: 22px;
    font-weight: 500;
}
.tes_top_sub{
    font-size: 12px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom:20px ;
}


.container {
    overflow: scroll;
    margin-top: 57px;
    padding-left: 58px;
    padding-right: 58px;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;
  }
  
.scroll-container{
    display: flex;
    overflow-x: scroll;
    width: fit-content;
    gap: 13px;

    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;
}
.container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
}
.scroll-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
}
.reel_container img{
    width: 300px;
    height: 550px;
    border-radius:24px ;
    position: relative;
    top: 0px;
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}
.reel_container video{
    width: 300px;
    height: 550px;
    position: relative;
    transition: 0.3s;
    display: none;
    visibility: none;
    opacity: 0;
}
.reel_container iframe{
    width: 300px;
    height: 550px;
    position: relative;
    transition: 0.3s;
    display: none;
    visibility: none;
    opacity: 0;
}



  .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0px 12px;
}

.contact-s-2{
    flex: 1;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.contact-s-2 p{
    font-size: 14px;
    font-weight: 300;
    color: white;
}
.contact-s-2-collab{
    font-family: "Instrument Serif", serif;
    font-style: italic;
    font-size: 38px;
}
.contact-s-2-details-top{
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}
.contact-s-2-details-top input{
    flex: 1;
    border: none;
    border-bottom: 1px white solid ;
    outline: none;
    padding:20px 0px ;
    font-family: "Inter";
    font-size: 14px;
    background-color: black;
}
.contact-s-2-details-top input::placeholder , .contact-s-2-msg::placeholder{
    color: white;
    font-size: 12px;
    font-style: italic;
    font-weight: 200;
    opacity: 1;
}
.contact-s-2-msg{
    border: none;
    border-bottom: 1px white solid ;
    outline: none;
    padding:20px 0px ;
    outline: none;
    font-family: "Inter";
    font-size: 14px;
    margin-top: 20px;
    background-color: black;
}
.submit p{
    color: black;
}

.contact-s-2-submit-icon{
    width: 30px;
    height: 10px;
    background-image: url('./assets/icons/Arrow\ 3.png');
    background-repeat: no-repeat;
    background-size: contain;
}


footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 42px;
}
footer img{
    width: 200px;
    height: 92px;
    margin-left: -20px;
}
.foot_quote{
    margin-top:21px ;
    margin-bottom: 30px;
    max-width: 90%;
    text-align: center;
    font-size: 14px;
    font-family: 200;
}
.cpy_write{
    font-size: 12px;
    font-weight: 200;
}
}

@media (max-width:1120px) and (min-width:480px) {
    body{
        background-color: black;
    }
    *{
        opacity: 0;
    }
    .navbar{
        display: none;
    }
    
    .navbar_center_mob{
        display: none;
    }
    .nav_con{
        display: none;
    }
    .nav_ham{
       display: none;
    }
    .nav_cross{
        display: none;
    }

    .hero{
        display: none;
    }

    .tes_top{
        display: none;
    }
    .container{
        display: none;
    }
    .frame{
        display: none;
    }
    .toggler_btn_container{
        display: none;
    }
    footer{
        display: none;
    }
    .alert{
        display: none;
    }
}