@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}


body{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", serif;
    color: white;
    overflow-x: hidden;
    background-color: black;
}
.alert{
    position: fixed;
    top: 20px;
    right: -100%;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: black;
    border: 1px white solid;
    transition: 0.5s;
}
.alert p{
    font-size: 20px;
    z-index: 4;
}
.navbar{
    height: 86px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 70px;
    position: absolute;
    width: 90vw;
    top: 0px;
    background-color: #ffffff00;
}
.navbar img{
    width: auto;
    height: 86px;
    margin-left: -5vh;
    background-color: #ffffff00;
}
.navbar_center_mob{
    display: none;
}
.navbar_center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 32vw;
    background-color: #ffffff00;
}
.navbar_center li{
    text-decoration: none;
    list-style: none;
    font-weight: 500;
    background-color: #ffffff00;

}
.navbar_center li a{
    color: white;
    text-decoration: none;
    background-color: #00000000;
}

.navbar a{
    color: white;
    text-decoration: none;
    background-color: transparent;
}
.nav_cross{
    display: none;
}
.nav_ham{
    display: none;
}
.video-container{
    position: absolute;
    z-index: -1;
    top: -18vh;
    background-color: black;
    width: 120vw;
    height: 135vh;
    object-fit: cover;
}

.hero{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    background-color: #0000009a;
}
.hero_main{
    font-size: 80px;
    font-weight: 500;
    background-color: #00000000;
    text-align: center;
}
.hero_sub{
    font-size: 22px;
    font-weight: 200;
    background-color: #00000000;
    margin-top: 10px;
}
.bg{
    width: 100vw;
    height: 100vh;
    position:absolute;
    top: 0px;
    z-index: -1;
}
.hg_mob{
    display: none;
}
.highlight{
    margin: 0px 58px;
    margin-top: 103px;
    background-color: black;
}
.highlight img{
    object-fit: cover;
}
.hg_main{
    font-size: 58px;
    font-weight: 500;
}


.hg_dis{
    margin-top: 34px;
}

.hg_dis_l1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 13px;
}
.highlight img{
    border-radius: 30px;
}
.hg_dis_li_img_1{
    background-color: white;
    height: 40vw;
    width: 40vw;
}
.hg_dis_li_img_2{
    background-color: white;
    height:40vw;
    width: 25vw;
}
.hg_dis_l2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13px;
}
.hg_dis_l2_l1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hg_dis_l2_l1 img{
    width:26.5vw;
    height: 19.5vw;
    background-color: white;
}

.hg_dis_l2_l2 img{
    width: 36vw;
    height: 40vw;
    background-color: white;
}
.ser{
    margin-top: 97px;
    margin-left: 58px;
    margin-right: 58px;
}
.ser_head_main{
    font-size: 58px;
    font-weight: 500;
    text-align: center;
}
.ser_head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ser_head_sub{
    font-size: 24px;
    font-weight: 200;
    text-align: center;
    max-width: 90%;
}
.ser_img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 13px;
    margin-top: 13px;
    justify-content: space-around;
    align-items: center;
}
.ser_img img{
    width: 100%;
    height: 40vh;
    background-color: white;
    border-radius: 20px;
}
.ser_img_container{
    overflow: hidden;
    border-radius:15px ;
    background-size: cover;
    transition: 0.3s;
    flex: 1;
    width: 650px;
    height: 316px;
}
.ser_img_container_1{
    align-self: flex-end;
    justify-self: right;
    display: flex;
}
.ser_img_container_2{
    align-self: flex-start;
    justify-self: left;
    display: flex;
}
.ser_img_container:hover{
    transform: scale(1.1);
}
.ser_img_container p{
    font-size: 36px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.452);
    padding-top: 200px;
    padding-left: 17px;
    padding-bottom: 13px;
    display: flex;
    flex: 1;
}

.toggler_btn_container{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 30px 0px;
}
.toggle_btn{
    background-color: #00000000;
    border: none;
}
.toggle_btn i{
    color: #999999;
    font-size: 24px;
    transition: 0.2s;
}
.toggle_btn i:hover{
    color: white;
}

.toggle_btn_dot{
    background-color:#999999;
}
.toggle_btn_dot:hover{
    background-color: white;
}
.tes_top{
    margin: 0px 58px;
    margin-top: 97px;
}
.tes_top_main{
    font-size: 58px;
    font-weight: 500;
}
.tes_top_sub{
    font-size: 24px;
    font-weight: 300;
    margin-top: 36px;
    margin-bottom:20px ;
}


.tes_bot_mar{
    padding: 23px 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #0D0D0D;
    max-width: 40vw;
    border-radius: 20px;
    margin-left: 13px;
}
.tes_bot_mar_user{
    display: flex;
    align-items: center;
    background-color: #0D0D0D;
}
.tes_bot_mar_user img{
    width: 78px;
    height: 78px;
    margin-right: 12px;
    border-radius: 50%;
    background-color: white;
}
.tes_bot_mar_user_det_name{
    font-size: 22px;
    font-weight: 400;
    background-color: #0D0D0D;
}
.tes_bot_mar_user_det_sub{
    font-size: 16px;
    font-weight: 400;
    background-color: #0D0D0D;
}
.tes_bot_mar_cmt{
    font-size: 18px;
    font-weight: 400;
    margin-top: 36px;
    width: 100%;
    white-space: normal;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    background-color: #0D0D0D;
}
.container {
    overflow: scroll;
    margin-top: 57px;
    padding-left: 58px;
    padding-right: 58px;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;
  }
  
.scroll-container{
    display: flex;
    overflow-x: scroll;
    width: fit-content;
    gap: 13px;
    padding-right: 58px;
    padding-left: 0px;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;
}
.container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
}
.scroll-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
}
.reel_container img{
    width: 300px;
    height: 550px;
    border-radius:24px ;
    position: relative;
    top: 0px;
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}
.reel_container video{
    width: 300px;
    height: 550px;
    position: relative;
    transition: 0.3s;
    display: none;
    visibility: hidden;
    opacity: 0;
    visibility: none;
    opacity: 0;
    border-radius: 20px;
    transition: 0.5s;

}


.reel_mute_btn{
    position: absolute;
    bottom: 0px;
    display: none;
    background-color: #ffffff3a;
    margin: 20px;
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    z-index: 2;
}


  .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0px 58px;
}

.contact-s-2{
    flex: 1;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.contact-s-2 p{
    font-size: 32px;
    font-weight: 300;
    color: white;
}
.contact-s-2-collab{
    font-family: "Instrument Serif", serif;
    font-style: italic;
    font-size: 98px;
}
.contact-s-2-details-top{
    display: flex;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    margin-top: 50px;
}
.contact-s-2-details-top input{
    flex: 1;
    border: none;
    border-bottom: 1px white solid ;
    outline: none;
    padding:20px 0px ;
    font-family: "Inter";
    font-size: 14px;
    background-color: black;
    color: white;
}
.contact-s-2-details-top input::placeholder , .contact-s-2-msg::placeholder{
    color: white;
    font-size: 24px;
    font-style: italic;
    font-weight: 200;
    opacity: 1;
}
.contact-s-2-msg{
    border: none;
    border-bottom: 1px white solid ;
    outline: none;
    padding:20px 0px ;
    outline: none;
    font-family: "Inter";
    font-size: 14px;
    margin-top: 20px;
    background-color: black;
    color:white;
}

.submit{
    display: flex;
    background-color: white;
    border: 0px white solid;
    justify-content: space-between;
    align-items: center;
    height: 51px;
    width: fit-content;
    padding: 10px 20px;
    margin-top: 70px;
    border-radius: 30px;
    transition: 0.3s;
    cursor: pointer;
}
.submit:hover{
    transform: scale(1.05);
}
.submit p{
    color: black;
    font-size: 18px;
    margin-right: 20px;
}
.submit img{
    width: auto;
    height: 10px;
}
.contact-s-2-submit-icon{
    width: 30px;
    height: 10px;
    background-image: url('./assets/icons/Arrow\ 3.png');
    background-repeat: no-repeat;
    background-size: contain;
}
/* .contact-s-2-submit:hover{
    background-color: white;
    border: 1px #2667FF solid;
}
.contact-s-2-submit:hover button{
    color: #2667FF;
} */

.contact-s-3{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
    
    width: 100vw;
    border-bottom: 1px black solid;
}
.contact-s-3 a{
    color: black;
    font-weight: 200;
    text-decoration: none;
}
.contact-s-4{
    width: 100vw;
    margin: 50px;
}
.contact-s-4 p{
    font-weight: 200;
    text-align: center;
    font-size: 14px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 42px;
}
footer img{
    width: 200px;
    height: 92px;
}
.foot_quote{
    margin-top:21px ;
    margin-bottom: 30px;
    max-width: 60%;
    text-align: center;
}